:root {
  --primary: #f33663;
  --secondary: #6c757d;
  --success: #f38d39;
  --info: #17a2b8;
}
.btn-primary {
  color: #fff;
  background-color: #f33663;
  border-color: var(--primary);
}
btn-primary {
  color: #fff;
  background-color: #f33663;
  border-color: var(--primary);
}

.btn-primary:hover {
  color: #fff;
  background-color: #f33663;
  border-color: var(--primary);
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #f33663;
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #f33663;
  border-color: var(--primary);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #2653d4;
  border-color: #244ec9;
}

.btn-success {
  color: #fff;
  background-color: #f38d39;
  border-color: var(--success);
}

.btn-success:hover {
  color: #fff;
  background-color: #f38d39;
  border-color: var(--success);
}

.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #f38d39;
  border-color: var(--success);
  box-shadow: 0 0 0 0.2rem rgba(243, 141, 57, 0.5);
}

.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #f38d39;
  border-color: var(--success);
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #f38d39;
  border-color: var(--success);
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(243, 141, 57, 0.5);
}

.btn-info {
  color: #fff;
  background-color: #36b9cc;
  border-color: #36b9cc;
}
.btn-secondary {
  color: #fff;
  background-color: #858796;
  border-color: #858796;
}

.circle {
  position: absolute;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #f26464;
  /*right: 0;*/
  /*top: 50%;*/
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 12px !important;
  color: #fff;
  text-align: center;
  margin-left: 70px;
}

.left-menu {
  color: white !important;
  text-decoration: none !important;
}

.margin-menu {
  margin-bottom: 15px;
}

.color-selected-item {
  color: white;
  background-color: #36b9cc;
}

.footer_style {
  color: red;
}

.sidebar-dark .sidebar-heading {
  color: rgba(255, 255, 255, 0.8);
  /*color: #fff;*/
  font-size: 16px;
}

button {
  margin-left: 3px;
  margin-right: 3px;
}

.page-item {
  margin-left: 3px;
  margin-right: 3px;
}
